<nav class="navbar navbar-transparent navbar-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button id="menu-toggle" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar bar1"></span>
            <span class="icon-bar bar2"></span>
            <span class="icon-bar bar3"></span>
            </button>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="example" >
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="https://t.me/SegoviaTechTrain">
                    <i class="fa fa-telegram"></i>
                    Telegram
                    </a>
                </li>
                <li>
                    <a href="https://twitter.com/SegoTechTrain">
                    <i class="fa fa-twitter"></i>
                    Twitter
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/groups/13695327/">
                    <i class="fa fa-linkedin"></i>
                    LinkedIn
                    </a>
                </li>
                <li>
                    <a href="{{ include.url }}">
                    <i class="fa"></i>
                    {{ include.name }}
                    </a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
</nav>