<!doctype html>
<html lang="es">
<head>
    {% include head.html %}
</head>
<body class="landing-page landing-page1">
{% include navbar.html name="CoC" url="/coc" %}
<div class="wrapper">
    <div class="parallax filter-gradient blue" data-color="blue">
        <div class="parallax-background">
            <img class="parallax-background-image" src="../assets/img/template/bg3.jpg">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-5 hidden-xs">
                    <div class="parallax-image">
                        <img class="phone" src="../assets/img/logoSGtechTrain.png" style="margin-top: 20px"/>
                    </div>
                </div>
                <div class="col-md-6 col-md-offset-1">
                    <div class="description">
                        <h2>Segovia Tech Train</h2>
                        <br>
                        <h5>Pretende ser una comunidad entorno al desarrollo de las tecnológias de la información, para
                            tod@s los segovian@s, los que trabajan en Madrid,los que tienen la suerte de trabajar en
                            Segovia, los que trabajan en Remoto, los que aspiran a trabajar ...</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section section-gray section-clients">
        <div class="container text-center">
            <h4 class="header-text">Una comunidad?</h4>
            <p>
                Este es el lugar, punto de encuentro, desde el que deseamos ayudar a que todos los que tengan un
                proyecto, compartir experiencias en diferentes áreas de las nuevas tecnologías, buscar apoyos, mostrar
                discrepancias y publicitar logros.<br>
        </div>
    </div>

    {% capture currentDate %}{{'now' | date: '%s' }}{% endcapture %}
    {% for post in site.posts %}
    {% capture blogDate %}{{post.date | date: '%s' }}{% endcapture %}
    {% if blogDate > currentDate %}

    <div class="section section-no-padding" style="padding:0">
        <div class="parallax filter-gradient orange" data-color="orange" style="height:200px">
            <div class="parallax-background">
                <img class="parallax-background-image flipped" src="../assets/img/showcases/showcase-1/bg2.jpg">
            </div>
            <div class="container text-left">
                <h1>{{ post.title }}</h1>
            </div>
        </div>
    </div>
    <div class="section section-presentation">
        <div class="container">
            <div class="row">
                <p>En este evento podremos disfrutar de las siguientes charlas.</p>
                {{ post.content }}
            </div>
            <br>
            <div class="row">
                <div class="col-md-12">
                    <h3>Lugar del evento</h3>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3013.771400733767!2d-4.116271484584361!3d40.94267703140795!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd413ee1404e3995%3A0x486d314ba55c132b!2sUniversidad+de+Valladolid.+Biblioteca+del+Campus+de+Segovia!5e0!3m2!1ses-419!2ses!4v1552386361942"
                            width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
    {% else %}
    {% endif %}
    {% endfor %}
</div>

{% include footer.html %}
</body>
{% include scripts.html %}
</html>
